/IWFNElement.class
/IWFNElementKante.class
/IWFNElementOK.class
/IWFNElementStelle.class
/IWFNElementTransition.class
/IWFNModellVeraendern.class
/IWFNModellWiedergeben.class
/IWfnElement.class
/IWfnElementKante.class
/IWfnElementArc.class
/IWfnElementTransition.class
/IWfnElementStelle.class
/IWfnElementPlace.class
/IWfnElementButNoArc.class
/IWfnElemTransitionAndPlace.class
/IWfnTransitionAndPlace.class
/IWfnArc.class
/IWfnPlace.class
/IWfnTransition.class
/IWfnModelPresentation.class
/IWfnModelWiedergeben.class
/IWfnModelChanging.class
