/IAuswahlBearbeitetHorcher.class
/IAuswahlVeraenderungsHorcher.class
/IEditorModusHorcher.class
/IElementGroessenHorcher.class
/ITransitionsSchaltungsHorcher.class
/IWFNModellStatusHorcher.class
/IWFNVeraenderungsHorcher.class
/IZeichnungBenoetigtHorcher.class
/IZoomFaktorVeraenderungsHorcher.class
/IElementSizeListener.class
/IEditModusListener.class
/ITransitionFireListener.class
/IModelStatusListener.class
/IWfnStatusListener.class
/IZoomListener.class
/IRedrawListener.class
/IWfnNetListener.class
/ISelectionChangingListener.class
/ISelectionEditingListener.class
