/IAuswahlBearbeitetHorcher.class
/IAuswahlVeraenderungsHorcher.class
/IEditorModusHorcher.class
/IElementGroessenHorcher.class
/ITransitionsSchaltungsHorcher.class
/IWFNModellStatusHorcher.class
/IWFNVeraenderungsHorcher.class
/IZeichnungBenoetigtHorcher.class
/IZoomFaktorVeraenderungsHorcher.class
