/AuswahlVerwaltung.class
/DateiVerwaltung.class
/ElementGroessenVerwaltung.class
/IDateiVerwaltung.class
/KreisTestVerwaltung.class
/MarkierungsVerwaltung.class
/MausVerwaltung.class
/PositionsVerwaltung.class
/ZentraleVerschraenkung.class
/ZoomFaktorVerwaltung.class
/FileManagement.class
/IFileManagement.class
/ZoomManagement.class
/ElementSizeManagement.class
/SelectionManagement.class
/MarkingManagement.class
/CircleTest.class
/CoordinateManagement.class
/EditorMouseActions.class
/ControlCentral.class
