/IdentifierVerwaltung.class
/KantenVerwaltung.class
/StartEndStellenVerwaltung.class
/WFNModell.class
/WFNStatusInfo.class
/ZusammenhangsVerwaltung.class
/WfnStatusInfo.class
/Identifiers.class
/Identifier.class
/ArcManagement.class
/StartEndManagement.class
/ConnectionManagement.class
/IDManagement.class
/WfnModel.class
